<template>
    <line-chart 
      title="Vitesses moyennes du vent"
      :data="this.$store.state.windTemps"
      height="300px"
      :dataset="{borderWidth: 2, pointBackgroundColor: 'white',}"
      :colors="['#4fc2be']"
      ytitle="Vitesse du vent (m/sec)"
      :legend="true"
      label="Vitesses moyennes du vent"
      :library="chartOptions">
    </line-chart>
</template>

<script>
export default {
  data () {
    return {
      chartOptions: {
        layout: {
          padding: {left: 10, right: 5, top: 5, bottom: 2}
        },
        scales: {
          xAxes: [
                  {
                    type: "time",
                    time: {
                      unit: "hour",
                      displayFormats: {
                        hour: "DD-MM, HH:mm"
                      },
                      tooltipFormat: "DD MMMM, HH:mm"
                    },
                    scaleLabel: {
                      display: true,
                    }
                  }
                ],
          yAxes: [
                  {
                    ticks: {
                      beginAtZero: false,
                    }
                  }
                ]
        }
      }
    }
  }
}
</script>

<style>

</style>
