<template>
    <line-chart 
      :data="this.$store.state.dataApiBis"
      :discrete="false" 
      title="Prévisions météorologiques (Températures en C°) avec l'API OpenWeatherMap"
      height="400px"
      :dataset="{
        borderWidth: 2, 
        pointBackgroundColor: 'white', 
        borderColor: 'rgb(54, 162, 235)',
        fill: false
        }"
      :legend="true"
      label="Température moyenne"
      :library="chartOptions">
    </line-chart>
</template>

<script>
export default {
  data () {
    return {
      chartOptions: {
        layout: {
          padding: {left: 10, right: 5, top: 5, bottom: 2}
        },
        tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                      var label =
                        data.datasets[tooltipItem.datasetIndex].label || "";
  
                      if (label) {
                        label += ": ";
                      }
  
                      label += Math.floor(tooltipItem.yLabel);
                      return label + "°C";
                    }
                  }
                },
        scales: {
          xAxes: [
                  {
                    type: "time",
                    time: {
                      unit: "hour",
                      displayFormats: {
                        hour: "DD-MM, HH:mm"
                      },
                      tooltipFormat: "DD MMMM, HH:mm"
                    },
                    scaleLabel: {
                      display: true,
                      labelString: "Date"
                    }
                  }
                ],
          yAxes: [
                  {
                    scaleLabel: {
                      display: true,
                      labelString: "Température (°C)"
                    },
                    ticks: {
                      beginAtZero: false,
                      callback: function(value, index, values) {
                        return value + "°C";
                      }
                    }
                  }
                ]
        }
      }
    }
  }
}
</script>

<style>

</style>
