<template>
  <l-map style="height: 400px; border: 2px solid blue;" 
    :zoom="this.$store.state.zoom" 
    :center="this.$store.state.center"
    :options="mapOptions">
    <l-tile-layer 
      :url="this.$store.state.url" 
      :attribution="this.$store.state.attribution"></l-tile-layer>
    <l-marker :lat-lng="this.$store.state.temps.city.coord">
        <l-popup>
          <div>
            Ville : {{this.$store.state.temps.city.name}}
          </div>
          <div>
            Population : {{this.$store.state.temps.city.population}} habitants
          </div>
        </l-popup>
    </l-marker>
    <l-geo-json v-if="show_wmap">
    </l-geo-json>
  </l-map>
</template>

<script>
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet';

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  },
  data () {
    return {
      mapOptions: {
          attributionControl: true
      },
    };
  },

}
</script>

<style>

</style>
