<template>
    <nav>
    <v-toolbar flat app dark height="60" class="indigo" >
      <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>DEV&SIG</v-toolbar-title>

      <v-spacer></v-spacer>

    </v-toolbar>

    <v-navigation-drawer app temporary v-model="drawer" class="white">
      <v-btn icon>
            <v-icon @click="drawer=!drawer">close</v-icon>
        </v-btn>

        <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Prévisions météo
          </v-list-item-title>
          <v-list-item-subtitle>
            avec OpenWeatherMap
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>

       <br>
        <v-row justify="space-around">
          <v-avatar color="teal" size="48">
            <span class="white--text headline">HB</span>
          </v-avatar>
        </v-row>
        <br>

        <p style="text-align : center" class="body-2">Simple application de prévisions météorologiques développée 
          avec le framework VueJS. Les données sont tirées de l'API <a href="https://openweathermap.org/api" target="_blank">
          OpenWeatherMap</a>, stockées dans un store VueX puis redistribuées dans des composants Vuetify.</p>
        
        <p style="text-align : center" class="body-2">Les codes sont disponibles sur <a href="https://gitlab.com/devetsig/previsions_meteo" target="_blank">Gitlab</a>.</p>
        
        <h4 style="text-align : center">Techno utilisées :</h4>

        <v-list>
            <v-list-tile v-for="(stack, index) in stacks" :key="index">
                <v-list-tile-action>
                    <v-icon>{{stack.icon}}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {{stack.name}} <br>
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

    </v-navigation-drawer>
</nav>
</template>

<script>
export default {
  data () {
    return {
        drawer: false,
        stacks : [
          {name : 'Vue2-Leaflet', icon : 'location_on'},
          {name : 'Vue-Chartkick', icon : 'timeline'},
          {name : 'Vuetify', icon : 'palette'},
          {name : 'VueX', icon : 'storage'},
      ]
    }
  }
}
</script>

<style>

</style>
