<template>
  <v-container grid-list-xl>
    <v-row row d-flex nowrap align="center" justify="center" class="px-2">
    </v-row>
      <v-row row d-flex nowrap align="center" justify="center" class="px-2"> 
              <v-text-field
                      label="Choisissez une ville"
                      type="text"
                      prepend-icon="edit"
                      class="centered-input"
                      width="10px"
                      v-model="$store.state.ville"
                  >
              </v-text-field>
              <v-btn type="submit" color="primary" rounded @click="getTemps()">Chargez</v-btn>
      </v-row>
    <br>
    <br>
    <v-layout>
        <v-row>
            <v-flex xs12 md8>
                <v-card v-show="this.$store.state.loading">
                <lineChartApp></lineChartApp>
                </v-card>
            </v-flex>
            <v-flex xs12 md4>
                <v-card>
                <mapWeatherApp></mapWeatherApp>
                </v-card>
            </v-flex>
      </v-row>
    </v-layout>
    <br>
    <v-layout>
    <v-row v-show="this.$store.state.loading">
            <v-flex xs12 md6>
                <v-card>
                  <humidChartApp></humidChartApp>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card>
                  <windChartApp></windChartApp>
                </v-card>
            </v-flex>
      </v-row>
      </v-layout>
  </v-container>
</template>

<script>
import mapWeather from './map_weather.vue'
import chartWeather from './lineChart.vue'
import chartWind from './chartWind.vue'
import chartHumid from './chartHumidity.vue'

export default {
  components: {
      'mapWeatherApp': mapWeather,
      'lineChartApp': chartWeather,
      'windChartApp': chartWind,
      'humidChartApp': chartHumid,
  },
  name: 'App',
  methods: {
    getTemps : function() {
      this.$store.dispatch('getTemps')
      }
  }
}
</script>

<style>

</style>
