<template>
<v-app>
  <navbarApp></navbarApp>
  <v-container class="my-5">
    <v-layout row wrap>
      <h1 class="subheading grey--text">Appli Météo</h1>
    </v-layout>
  </v-container>
  <weatherApp></weatherApp>
</v-app>
</template>

<script>
import navbar from './components/navbar.vue'
import weather from './components/weather.vue'

export default {
  components: {
    'navbarApp': navbar,
    'weatherApp': weather,
  },
  name: 'App',
}
</script>

<style>

</style>
